.carousel {
  overflow: hidden;

  position: relative;
}
.ht{
  max-height: 400px;
}
.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item img {
  width: 100%;
  
  height: auto;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 1s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: 20px;
}

.carousel .carousel__actions button#carousel__button--next {
  margin-right: 40px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
